.order-card {
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    border-color: var(--blue);    
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.order-card > * {
    color: white;
}


.order-card__section {
    margin: 1rem 1rem;
}