<a class="category-card col-sm-6 col-lg-4 card" href="{{ path('app_shop_category', { categoryName: category.name }) }}">
    <img class="category-card__image grow-hover card-img-top" src={{ path('image',  { img: category.image }) }} alt={{ category.name }}>
    <span class="category-card__title card-title text-blue text-center">{{ category.name }}</span>
</a>