{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <div class="container-xl">
            <div class="filters d-flex flex-column justify-content-center align-items-center color-blue">
                <h5>Trier par :</h5>
                <select class="filters-select">
                    <option>Popularité</option>
                    <option>Prix croissant</option>
                    <option>Prix décroissant</option>
                </select>
            </div>
            <div class="products">
                <div class="row justify-content-evenly align-items-center">
                    {% for fish in fishes %}
                        {% include "fish_card.html.twig" with { 'fish': fish } %}    
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
        
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
