*
{
    font-family: 'InriaSerif';
    list-style: none;
}

.sf-toolbar
{
    position: absolute;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main
{
    flex: 1;
}

p, h1, h2, h3, h4, h5
{
    margin: 0;
}

ul
{
    padding: 0;
}

.darken-hover:hover
{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.whiten-hover:hover
{
    background-image: linear-gradient(rgba(255, 255, 255, 0.15) 0 0);
}

a
{
    text-decoration: none;
    cursor: pointer;
}
