* {
    font-family: 'InriaSerif';
    list-style: none;
    color: var(--blue);
}

.sf-toolbar {
    position: absolute;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 80vh;
}

a, p, h1, h2, h3, h4, h5, ul, ol, button {
    margin: 0;
    padding: 0;
}

ul, ol {
    padding: 0;
}

button {
    border-style: none;
}

.form-control {
    color: var(--blue);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--blue);
}

.grow-hover {
    transition: transform 0.1s ease-out;
}

.grow-hover:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: solid;
    border-radius: 50%;
    border-top: solid;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}