.button-white
{
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue);
    background-color: transparent;
}

.button-blue
{
    background-color: var(--blue);
    color: white;
}

.link-like-button
{
    background-color: transparent;
    padding: 0;
}