@font-face 
{
    font-family: "InriaSerif";
    src: url(../fonts/Inria/InriaSerif-Regular.ttf);
}

@font-face {
    font-family: "InriaSans";
    src: url(../fonts/Inria/InriaSans-Regular.ttf);
}

@font-face {
    font-family: "Exmouth";
    src: url(../fonts/Exmouth/exmouth_.ttf);
}

.inria-serif {
    font-family: "InriaSerif";
}

.inria-sans {
    font-family: "InriaSans";
}

.exmouth {
    font-family: "Exmouth";
}
