.form
{
    max-width: 500px;
    margin-top: 3rem;
}

.form-head
{
    font-size: 2.5em;
}

.form-row
{
    margin-top: 2rem;
}

.form-control:focus
{
    box-shadow: none;
    border-color: var(--blue);
}

.form-button
{
    height: 50px;
    width: 130px;
}

.form-error
{
    margin-top: 0.5rem;
}