/* .logo-temp
{
    width: 100px;
    height: 30px;
    background-color: var(--blue);
    border-radius: 10px;
} */

.header__nav {
    padding: 0;
}

.header__logo {
    font-size: 2.4em;
}

.header__link,
.header__logo {
    color: #265073;
}

.header__link:hover,
.header__logo:hover {
    color: #9AD0C2;
}

.header__cart-link:hover > :first-child {
    color: #9AD0C2;
}

.header-dropdown__image {
    width: 30px;
}