.security-form
{
    max-width: 500px;
    margin-top: 3rem;
}

.security-form .form-head
{
    font-size: 2.5em;
}

.security-form .form-row
{
    margin-top: 2rem;
}

.security-form .form-button
{
    height: 50px;
    width: 130px;
}

.security-form .form-error
{
    margin-top: 0.5rem;
}