.product-form__title {
    font-size: 1.5em;
}

.product-form__body > :not(:first-child) {
    margin-top: 1rem;
}

.product-form__image {
    border-radius: 20px;
    width: 100%;
}

.product-form__price {
    font-size: 2em;
}

.quantity-select__quantity {
    font-size: 1.25em;
}

.product-form__quantity-select > :not(:last-child) {
    margin-right: 1rem;
}

.product-form__button {
    font-size: 1.1em;
    height: 50px;
    border-radius: 7px;
    margin-top: 0.255rem;
}

.product-form__button .loader {
    border-width: 6px;
    border-top-width: 6px;
    border-color: #265073;
    border-top-color: white;
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    .product-form__image {
        margin-right: 3rem;
    }

    .product-form__body {
        width: 50%;
    }
}