<a class="fish-card col-sm-6 col-lg-4" href="{{ path('app_shop_product', { fish: fish.id }) }}">
  <img src={{ path('image',  { img: fish.image }) }} class="card-img-top" alt="...">
  <div class="fish-card-text d-flex justify-content-between align-items-center color-blue">
    <h5 class="m-0">{{ fish.name }}</h5>
    <p class="m-0 fst-italic">{{ fish.pricePerKilo }}€/kg</p>
  </div>
</a>