<footer class="bg-blue d-flex align-items-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-start align-items-center text-white text-center h-100">
        <a class="text-white">Conditions générales d'utilisation</a>
        <a class="text-white">Politiques de confidentialité</a>
    </div>
</footer>