.about-short {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-short__image {
    border-radius: 30px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.75);
    width: 100%;
    margin-top: 2rem;
    max-width: 600px;
}

.about-short__title {
    font-size: 2.75em;
}

.about-short__text {
    font-size: 1.5em;
}

.about-short__bottom {
    margin-top: 5rem;
}

.about-short__button {
    font-size: 1.2em;
    margin-top: 5rem;
    width: 200px;
    height: 70px;
    border-radius: 7px;
}

@media (min-width: 992px) {
    .about-short {
        padding-top: 5rem;
    }

    .about-short__image {
        margin-top: 0;
    }

    .about-short__image,
    .about-short__text {
        width: 48%;
    }    
}