.banner
{
    padding: 2rem 0;
}

.banner h1
{
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.left-fish
{
    transform: scaleX(-1);
}

.banner-divider
{
    width: 80%;
    max-width: 550px;
}


@media (max-width: 992px) 
{
    .banner h1
    {
        font-size: 3em;
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) 
{
    .banner h1
    {
        font-size: 2.5em;
    }
}