.delivery
{
    padding: 5rem 0;
}

.delivery h3
{
    font-size: 2.5em;
}

.delivery-days
{
    margin: 4rem 0;
    font-size: 1.2em;
}

.delivery-condition
{
    margin-top: 1rem;
    font-size: 1.1em;
}

.delivery-infos-images
{
    margin-top: 5rem;
}

.delivery-infos-images div:nth-of-type(n + 2)
{
    margin-top: 3rem;
}

.delivery-info-image-text
{
    margin-top: 0.75rem;
    font-size: 1.25em;
}

@media (min-width: 768px) 
{
    .delivery-images
    {
        margin-top: 5rem;
    }

    .delivery-infos-images div:nth-of-type(n + 2)
    {
        margin-top: 0;
    }

    .delivery-infos-images div
    {
        width: 33%;
        margin-top: 0;
    }    
}