.delivery-infos {
    padding: 4rem 0;
}

.delivery-infos__title {
    font-size: 2.5em;
}

.delivery-infos__delivery-days {
    margin: 4rem 0;
    font-size: 1.2em;
}

.delivery-infos__delivery-condition {
    margin-top: 1rem;
    font-size: 1.1em;
}

.delivery-infos__images {
    margin-top: 5rem;
}

.delivery-infos__image-text {
    margin-top: 0.75rem;
    font-size: 1.25em;
}

.delivery-infos__pickup-address {
    margin-top: 4rem;
    font-size: 1.2em;
}

@media (min-width: 768px) {
    .delivery-images {
        margin-top: 5rem;
    }

    .delivery-infos-images div:nth-of-type(n + 2) {
        margin-top: 0;
    }

    .delivery-infos-images div {
        width: 33%;
        margin-top: 0;
    }    
}