.featured-categories {
    padding: 2.5rem 0;
}

.featured-categories__title {
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.featured-categories__button {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    height: 70px;
    width: 200px;
    border-radius: 7px;
}