.infos
{
    padding-bottom: 3rem;
}

.info
{
    margin-top: 2rem;
}

.info-heading
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.infos-text
{
    padding: 2rem;
}    

.infos-text p
{
    font-size: 1.25em;
    margin-top: 0.75rem;
}

.infos-text h4
{
    font-size: 1.75em;
}

.infos-text h4:nth-of-type(2)
{
    margin-top: 1rem;
}