{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <form>
            <label>
                <span>Nom</span>
                <input>
            </label>
            <label>
                <span>Eymard</span>
                <input>
            </label>
            <label>
                <span>Adresse</span>
                <input>
            </label>
            <label>
                <span>Appartement, suite, etc.. (optionel)</span>
                <input>
            </label>
            <label>
                <span>Code Postal</span>
                <input>
            </label>
            <label>
                <span>Ville</span>
                <input>
            </label>
            <label>
                <span>Téléphone</span>
                <input>
            </label>
        </form>
    </main>
    {% include 'footer.html.twig' %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdDs1B7RFhPQoeDwih5Pii-Y3ouJJrLWM&callback=initAutocomplete&libraries=places" defer></script>
{% endblock %}