{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <main>
        <p>Payment Complete</p>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}