.cart-product-card  {
    margin-bottom: 1rem;
    margin-right: 1rem;
    height: 100px;
}

.cart-product-card__title {
    font-size: 0.95em;
}

.cart-product-card__price {
    font-size: 1.25em;
}

.cart-product-card__image {
    border-radius: 10px;
    height: 100px;
    margin-right: 0.75rem;
}

.cart-product-card__button {
    border-style: none;
    background-color: transparent;
    background-image: url('../../../public/images/trash.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    width: 22px;
}

.cart-product-card__loader {
    border-width: 6px;
    border-top-width: 6px;
    border-color: #c240406c;
    border-top-color: #c24040;
    width: 20px;
    height: 20px;
}